/*Comienzo de Proyecto*/
// Colores
$color-sand		:	#d9452b;
$color-brown    :	#f7bd51;				
$color-purple	:	#404259;
$color-blueblck	:	#242e3d;
$color-sky		:	#576d9c;
$color-lila		:	#858196;

@mixin color-opacity($color, $opacity: 0.3) {
    background: $color; 
    background: rgba($color, $opacity);
}

// Fonts
@font-face{
	font-family:CaviarBold;
	src:url(../fuente/CaviarBold.ttf)
}
@font-face{
	font-family:CaviarDreams;
	src:url(../fuente/CaviarDreams.ttf);
}
@mixin font-family-caviar-bold{
	font-family:'CaviarBold';
}

@mixin font-family-caviar-dreams{
	font-family:'CaviarDreams';
}

@mixin font-family-great-vibes{
 	font-family: 'Great Vibes', cursive;
}

// Fonts
@font-face{
	font-family:CaviarBold;
	src:url(../fuente/CaviarBold.ttf)
}
@font-face{
	font-family:CaviarDreams;
	src:url(../fuente/CaviarDreams.ttf);
}
@mixin font-family-caviar-bold{
	font-family:'CaviarBold';
}

@mixin font-family-caviar-dreams{
	font-family:'CaviarDreams';
}

@mixin font-family-great-vibes{
 	font-family: 'Great Vibes', cursive;
}


html,
body{
	width: 100%;
	height: 100%;
}

h1{
	font-size: 3.6em;
}

h2{
	font-size: 2.3em;
}

h3{
	font-size: 1.8em;
}

h1, h3{
	@include font-family-great-vibes;
}

h2{
	@include font-family-caviar-bold;
}

ul, a, p{
	@include font-family-caviar-dreams;
}

//Sección Navegación
.navbar {
	background-color: transparent;
	border:none;
	margin-bottom: 0px;
	transition: 0.8s ease-in-out;

	&.navbar-default{
		background-color: transparent;
		border-color:transparent;
		border-radius: 0px;
		position: fixed;
		z-index: 100;
		width: 100%;

		.navbar-nav > li > a{
			color: white;
			font-size:20px;
		}
		.navbar-nav > li > a:hover{
			color: #fff;
		}
		.navbar-nav > li > a{
			margin: 0px 40px;
		}
	}
	&.scroll {
		background-color:$color-brown;
		width:100%;
		z-index: 10;
	}	
	ul.nav.navbar-nav {
		float: none;
		margin: 0;
		text-align: right;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}

	.container-fluid .navbar-brand, {
		color: white;
		margin-left:56px;
		position: relative;
	}

}

.parentesis{
	li > a::before{
	    color:transparent;
		content:"{";
		display: inline-block;
	    font-weight: bold;	
	    transform:translate(30px);
	    transition: 0.45s ease-in-out transform;
	}
	li > a::after{
		color:transparent;
		content:"}";
		display: inline-block;
		font-weight: bold;
		transform:translate(-30px);
		transition: 0.45s ease-in-out transform;
		// opacity:1;
	}

}

.parentesis > li > a:hover::before, .parentesis  > li > a:hover::after{
	color:red;
	display: inline-block;
	transform:translate(0px);
}

/*banner*/
.home{
 	background-attachment: fixed;
	background-image: url(../img/zarai2.jpg);
	background-size: cover;
	min-height: 100%;
	.overlay {
		display: table;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		.titulo {
			display: table-cell;
			vertical-align: middle;
		
			h1 {
				font-size: 110px;
				&:hover{
					color:red;
					transition: 0.8s  ease-in-out;
				}
				&.dark-title{
					color:$color-sand;
				}
			}

			p {
				color:$color-purple;
				font-size: 28px;
				width: 100%;
				}
			.arrow{
				position: relative;
				-webkit-transform: rotate(-90deg);
				top: 180px;
				img{
					width: 3.5%;
				}
			}

		}
	}
	.overlay {
		transition: 0.8s ease-in-out;
		
		min-height: 100%;
	}
}

/*Sección Sobre Mi*/
.about-me{
	background-attachment:fixed;
	background-color:white;
	width:100%;				
	.sobremi {
		padding: 20px;
		.me {
			text-align: center;
			h2{
				color: #576d9c;
			}
		}
		.line {
			border-bottom: 1px solid $color-sky;
			width: 10%;
			margin: 0 auto;

		}
		.contenido {
			padding: 40px;
			.yo {
				text-align: center;
				margin: 0 auto;
				width: 77%;
				img {
					border: 1px solid #858196;
					margin: 20px;
					padding: 20px;
					width: 100%;
				}
			}
			.aboutme{
				display: table-cell;
				vertical-align: middle;
				p {
					color:#576d9c;
					font-size: 18px;
					text-align: center;
				  	margin-top: 26px;
					padding-left: 0px;
				  		
				}
			}
		}
	}
}

/*Sección de Proyectos*/

.project h2, .blog h2, .contact h2, .skill h2{
	font-weight:bold;
	text-align: center;	
}
.project{
	background-color:$color-purple;
	.project-contenido {
		padding: 20px 20px 50px;
		.line2{
			border-bottom: 1px solid $color-sky;
			color:#0D8EDE;
			width: 10%;
			margin: 0 auto;
		}
		h2{
			color:white;
		}
		p {
			color:white;
			font-size: 18px;
			text-align: center;
			padding:20px 218px;
		}
	.coment {
			border:1px solid white;
		p{
			color:#858196;
		}
		img{
			width: 100%;
			padding:20px;
		}
			&.olas-peru{
				img{
					width: 100%;
					height: 230px;
					padding:20px;
				}
		}
		}
	}
}


.project1 {
	position: relative;
	border: 5px solid #0D8EDE;
	width: 93%;
}

h3 {
	//visibility: hidden;
	color: blue;
	top: 40%;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.overlay:hover h3  {
	visibility: visible;
}


.project1 img {
	width: 100%;
	height: 250px;

}

	//Sección Habilidades
	.skill{
		.habilidades{
			padding:20px 20px 50px;
			h2{
				color:#576d9c;
			}
			.line3{
				border-bottom: 1px solid $color-sky;
				color:#0D8EDE;
				width: 10%;
				margin: 0 auto;
				margin-bottom: 20px;
			}
			.programas{
				display: table;
				margin:0 auto;
					a {
						color:white;
						float:left;
						text-decoration: none;
						&:hover{
							color:white;
							background-color: $color-lila;
							text-decoration: none;
							transition: 0.8s ease-in-out;

							a p{
								color:white;
								text-decoration: none;
								&:hover{
									color: white;
									text-decoration: none;
								}
							}
						}
						p{
							color:#576d9c;
							font-weight: bold;
							text-align: center;
							text-decoration: none;
							&:hover{
								color:white;
							}
						}
						img{
							margin:40px;
							border: 2px solid white;
							padding: 20px;
							background-color: $color-brown;
							&:hover{
								color:white;
							}
						}
					}
			}
		}
	}
/*contactos*/
.contact{
	background-color:$color-purple;
	.contactame{
		padding: 20px 20px 50px;
		h2{
			color:white;
		}
		p{
			color:white;
		}
		.line4{
			border-bottom: 1px solid $color-sky;
			width: 10%;
			margin: 0 auto;
		}
	}
	.contactame-name{
		h3{
			color:$color-brown;
		}
	}
	.icon{
		text-align: center;
		a{
			
			img{
		  		filter: invert(100%);
				-webkit-filter: invert(100%);
				padding:7px;
				width: 4%;
				&:hover{
					background-color: white;
					border:1px solid white;
				}
				
			}
		}
	}
	
}



//Sección footer
.footer {
	background-color: $color-brown;
	height: 60px;
	p {
		padding-top: 22px;
		text-align: center;
		color: white;
	}
}


@media screen and (max-width: $screen-phone){
	.navegacion{
		background-image: url(none);
		background-color: aliceblue;
	}
	.about-me{
			.sobremi{
				.contenido{
					padding:0px;
				}
			
				.line{
					width:40%; 
				}
			}

	}
}