/*Comienzo de Proyecto*/


 html,
 body{
 	width: 100%;
 	height: 100%;
 }

@font-face{
	font-family:CaviarBold;
	src:url(../Fuente/CaviarBold.ttf)
}
 h1, h3{
 	font-family: 'Great Vibes', cursive;
 }


// h2, p, ul{
// 	font-family: 'Josefin Slab', serif;
// }

h2{
	font-family:'CaviarBold';
}

@font-face{
	font-family:CaviarDreams;
	src:url(../Fuente/CaviarDreams.ttf);
}
ul, a, p{
	font-family:'CaviarDreams';
}

//Sección Navegación
.navbar {
	margin-bottom: 0px;
	border:none;
}
	.navbar-default{
		background-color: transparent;
		border-color:transparent;
		border-radius: 0px;
		position: fixed;
		z-index: 100;
		width: 100%;
	}
	ul.nav.navbar-nav {
		float: none;
		margin: 0;
		text-align: right;
	  // font-family: 'Ubuntu Condensed', sans-serif;
	}
.navbar-nav > li {
	float: none;
	display: inline-block;
}

.navbar-default .navbar-nav > li > a{
	color: white;
	font-size:20px;
}
.navbar-nav > li > a{
	margin: 0px 40px;
}

.container-fluid .navbar-brand, {
	color: white;
	margin-left:56px;
	/*border: 3px solid white;*/
	position: relative;
	// font-family: 'Cinzel Decorative', cursive;
}

/*scroll*/
// .menu.on-scroll {
// 	transition: height 0.8s ease-in-out;
// 	background-color: rgba(245, 23, 120, 0.9);
// 	height: 54px;
// }

// .menu.on-scroll .menu {
// 	border-color:1px solid rgba(245, 23, 120, 0.9);
// }
// .menu.on-scroll .menu a {
// 	font-size: 0.9em;
// 	text-align: center;
// }

.navbar {
	background-color: transparent;
	transition: 0.8s ease-in-out;
}

.navbar.scroll {
	background-color:rgba(179, 88, 139, 0.9);
	// position:fixed;
	width:100%;
	z-index: 10;
}
/*fin de scroll menú*/
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}

.parentesis{
	li > a::before{
		display: inline-block;
		content:"{";
	    color:transparent;
	    // opacity: 1;
	    transform:translate(30px);
	    transition: 0.45s ease-in-out transform;
	    font-weight: bold;	
	}
	li > a::after{
		display: inline-block;
		content:"}";
		color:transparent;
		transform:translate(-30px);
		transition: 0.45s ease-in-out transform;
		// opacity:1;
	}

}

.parentesis > li > a:hover::before, .parentesis  > li > a:hover::after{
	display: inline-block;
	color:red;
	transform:translate(0px);
}

/*banner*/
.home{
	background-image: url(../img/zarai2.jpg);
	min-height: 100%;
	background-size: cover;
 	background-attachment: fixed;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: table;
		.titulo {
			display: table-cell;
			vertical-align: middle;
			color: white;
			h1 {
				font-size: 110px;
				// font-family: 'Great Vibes', cursive;
				&:hover{
					color:#337ab7;
					transition: 0.8s  ease-in-out;
				}
				&.dark-title{
					color:#337ab7;
				}
			}

			p {
				color: white;
				padding-bottom: 100px;
				font-size: 28px;
				width: 100%;
				}

			}
			.boton {
				padding:20px;
				font-size: 20px;
				color: #337ab7;
				background-color: rgba(242, 236, 236, 0.5);
				font-weight:bold;
				a {
					color: white;
					&:hover{ 
						text-decoration: none;
					}
				}
				&:hover{
					border: 2px solid  rgba(245, 23, 120, 0.9);
					color: rgba(245, 23, 120, 0.9);
					background-color: transparent;
					transition: height 0.8s, opacity 0.3s, transform 0.3s;
					text-decoration: none;
				}
			}
		}
	.overlay {
		transition: 0.8s ease-in-out;
		background-color: rgba(15, 14, 11, 0.4);
		min-height: 100%;
	}
}






/*Sección Sobre Mi*/
.about-me{
	background-color:rgba(197, 234, 245, 0.99);
	width:100%;
	//background-image:url(../img/glujpg)
	background-image:url(../img/paris.png);
	background-size:cover;				
	background-attachment:fixed;
	.sobremi {
		padding: 20px;
		.me {
			text-align: center;
			h2{
				color: #62575A;
			}
		}
		.line {
			border-bottom: 1px solid white;
			width: 10%;
			margin: 0 auto;

		}
		.contenido {
			padding: 40px;
			.yo {
				text-align: center;
				width: 77%;
				img {
					padding: 20px;
					border: 1px solid white;
					width: 100%;
					margin: 20px;
				}
			}
			.aboutme{
				display: table-cell;
				vertical-align: middle;
				p {
					text-align: center;
					color:#62575A;
					font-size: 18px;
					padding-left: 0px;
				}
			}
		}
	}
}

/*Sección de Proyectos*/

.project h2, .blog h2, .contact h2{
	text-align: center;	
	color: #0D8EDE;
	font-weight:bold;
}
.project{
	.project-contenido {
		padding: 20px;
		.line2{
			border-bottom: 1px solid #0D8EDE;
			color:#0D8EDE;
			width: 10%;
			margin: 0 auto;

		}
		p {
			color: #0D8EDE;
			font-size: 18px;
			text-align: center;
			padding:20px 218px;
		}
	.coment {
		
		img{
			width: 100%;
		}
			.profile {
				position: absolute;
				margin-top: -53px;
				margin-left: 10px;
				z-index: 10;
				img{
					border-radius: 50%;
					width: 100px;
					
				}
			}
			.parrafo {
				position: relative;
				background-color: rgb(174, 218, 245);
				padding: 10px 10px 10px 100px;
				h4 {
					margin-top: 0px;
				}
				p{
					padding:0px;
				}
			}
		}
	}
}


.project1 {
	position: relative;
	border: 5px solid #0D8EDE;
	width: 93%;
}

h3 {
	//visibility: hidden;
	color: blue;
	top: 40%;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.overlay:hover h3  {
	visibility: visible;
}

.overlay:hover {
	background-color: rgba(107, 114, 134, 0.27);
}
.project1 img {
	width: 100%;
	height: 250px;

}

/*contactos*/
.contanctame{
	.contactame{
		h3{
			color:blue;
		}
	}

	.icon {
		text-align: center;
		img{
			width: 6%;
			text-align: center;
			&:hover{
				background-color: rgba(231, 34, 136,0.2);
				border-radius: 55%;
				width: 90px;
				height:80px;
			}

		}
	}
	
}



//Sección footer
.footer {
	background-color: #0D8EDE;
	height: 80px;
	p {
		padding-bottom: 0px;
		text-align: center;
		color: white;
	}
}


@media screen and (max-width: $screen-phone){
	.navegacion{
		background-image: url(none);
		background-color: aliceblue;
	}
}