/*Comienzo de Proyecto*/

 html,
 body{
 	width: 100%;
 	height: 100%;
 }

[class*="col-"] {
	padding: 0px;
	margin: 0px;
}
.container-fluid {
	padding: 0px;
}
.row{
	padding: 0px;
	margin: 0px;
}
/*Navegación*/
/*.logo a{
	border:3px solid white;
}*/
.navbar {
	margin-bottom: 0px;
}
.navbar-default{
	background-color: transparent;
	border-color:transparent;
	border-radius: 0px;
	position: fixed;
  z-index: 100;
  width: 100%;
}
ul.nav.navbar-nav {
  float: none;
  margin: 0;
  text-align: right;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.navbar-nav > li {
	float: none;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a{
	color: white;
}
.navbar-nav > li > a{
	margin: 0px 40px;
}

.container-fluid .navbar-brand, {
	color: white;
	margin-left:56px;
	/*border: 3px solid white;*/
	position: relative;
	font-family: 'Cinzel Decorative', cursive;
}

/*scroll*/
.menu.on-scroll {
	transition: height 0.3s ease-in-out;
	background-color: rgba(245, 23, 120, 0.9);
	height: 70px;
}

.menu.on-scroll .menu {
	border-color:1px solid rgba(245, 23, 120, 0.9);
}
.menu.on-scroll .menu a {
	font-size: 0.9em;
	text-align: center;
}

/*fin de scroll menú*/
.navbar-default .navbar-nav > li > a:hover{
	color: #337ab7;
}
ul li a:hover {
	color:orange;
	border-bottom: 3px solid rgba(245, 23, 120, 0.9);  
}
/*Fin del Menu Nav*/

/*banner*/
.home{
	background: url(../img/banner9.jpg)scroll;
	/*display: table;*/
	/*width: 100%;*/
	min-height: 100%;
	background-size: cover;
	/*position: relative;*/
	/*opacity: 0.6;	*/

}
.titulo h2 {
	font-size: 110px;
}
.titulo {
	display: table-cell;
	vertical-align: middle;
	color: white;
	/*text-align: center;*/
	font-family: 'Ubuntu Condensed', sans-serif;
}
.titulo p {
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	padding-bottom: 100px;
	/*text-decoration: none;*/
	font-size: 20px;
	padding-right: 118px;
	width: 100%;
	}

.home .overlay {
		transition: 0.8s ease-in-out;
	background-color: rgba(15, 14, 11, 0.4);

	min-height: 100%;

}

.boton {
	border: 5px solid  rgba(245, 23, 120, 0.9);
	padding:20px;
	font-size: 20px;
	color: #337ab7;
	background-color: rgba(242, 236, 236, 0.5);
	font-family: 'Ubuntu Condensed', sans-serif;
}

.boton a {
	color: white;
	font-family: 'Ubuntu Condensed', sans-serif;

}

.boton:hover{
	font-family: 'Ubuntu Condensed', sans-serif;
	color: rgba(245, 23, 120, 0.9);
	background-color: transparent;
	  transition: height 0.3s, opacity 0.3s, transform 0.3s;
	}

a:hover{ 
	text-decoration: none;
}



/*sobre mi*/
.about-me{
  background-color: #0D8EDE;

}
.sobremi {
	padding: 42px;
}
.me {
	/*padding-top: 20px;*/
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.me h2{
	color: white;
}

.line {
	border-bottom: 1px solid white;
	width: 10%;
	margin: 0 auto;

}

.contenido {
	padding: 40px;
}
.yo {
	text-align: center;
	/*padding: 50px;*/
	width: 77%;
}
/*
.border {
	border: 2px solid black;
}*/
.yo img {
	padding: 20px;
	border: 1px solid white;
	width: 100%;
	margin: 20px;

}

.aboutme{
	display: table-cell;
	vertical-align: middle;
}

.aboutme p {
	text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 35px;
  padding-top: 35px;
  font-family: 'Ubuntu Condensed', sans-serif;
  padding-left: 0px;
}

/*project*/

.project {
	padding: 20px;
}
.project h2{
	font-family: 'Ubuntu Condensed', sans-serif;
	text-align: center;	
	color: #0D8EDE;
}

.project p {
  font-family: 'Ubuntu Condensed', sans-serif;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  width: 58%;
  color: #0D8EDE;
  font-size: 18px;
}

.project1 {
	position: relative;
	border: 5px solid #0D8EDE;
	width: 93%;
	/*margin: 0 auto;*/
/*padding: 10px;*/
}

h3 {
	visibility: hidden;
	color: white;
	top: 40%;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.overlay:hover h3  {
	visibility: visible;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 251px;
	top: 0;
	display: table;
	/*background-color: rgba(107, 231, 248, 0.3)*/;
	/*padding: 0 1px;*/
}
.overlay:hover {
	background-color: rgba(223, 205, 24, 0.3);
}
.project1 img {
	width: 100%;
	height: 250px;

}
.line2{
	border-bottom: 1px solid #0D8EDE;
	color:#0D8EDE;
	width: 10%;
	margin: 0 auto;

}

/*blog*/

.blog {
	/*padding: 20px;*/
}
.blog h2{
	font-family: 'Ubuntu Condensed', sans-serif;
	text-align: center;	
	color: #0D8EDE;
}

.line3{
	border-bottom: 1px solid #0D8EDE;
	color:#0D8EDE;
	width: 10%;
	margin: 0 auto;

}
.coment {
	/*width: 35%;*/
	/*margin-left: 40px;*/
	/*padding:60px 20px 2px;*/
	padding:30px;
	/*margin: 36px;*/
}

.coment img{
	width: 100%;
}

.profile {
	position: absolute;
	margin-top: -53px;
	margin-left: 10px;
	z-index: 10;
}
.profile img{
	border-radius: 50%;
	width: 100px;
	
}
.parrafo {
	position: relative;
	background-color: rgb(174, 218, 245);
	padding: 10px;


}
.parrafo h4 {
	margin-top: 0px;
}
.parrafo h4,
p {
	font-family: 'Ubuntu Condensed', sans-serif;
	color: gray;
	padding-left: 120px;
	/*padding-top: 10px;*/
}
/*contactos*/
.contactame h2{
	font-family: 'Great Vibes', cursive;
	text-align: left;
  margin-left: 121px;
}
.contact{
	border: 1px solid #0D8EDE;
	font-family: 'Ubuntu Condensed', sans-serif;
	margin: 33px;
}

.icon {
	text-align: center;
}
.icon img{
	width: 10%;
	text-align: center;

}
.icon img:hover{
	background-color: rgba(231, 34, 136,0.2);
	border-radius: 55%;
	width: 90px;
	height:80px;
}


.formulario {
	/*width: 40%;*/
	height: 396px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}

label {
	padding: 10px;
}

input {
	margin-bottom: 10px;
}

input[type="text"] {
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 15px 55px;
	background: white;
	border-radius: 2px;
	color: orange;
	font-size: 20px;
	margin-bottom: 15px;
	width: 100%;
	border-left: 0px;
	border-right: 0px;
	border-top:  0px;
	border-bottom: 0px;
	border: 1px solid #0D8EDE;
}

::-webkit-input-placeholder { color:#0D8EDE; }
::-moz-placeholder { color:#0D8EDE; } /* firefox 19+ */
:-ms-input-placeholder { color:#0D8EDE; } /* ie */
input:-moz-placeholder { color:#0D8EDE; }

textarea {
	font-family: 'Ubuntu Condensed', sans-serif;
	width: 100%;
	height: 120px;
	background-color: 1px solid #0D8EDE;
	border-radius: 2px;
	padding:15px 55px;
	/*font-family: arial;*/
	font-size: 20px;
	color: orange;
	border: 1px solid #0D8EDE;
}

input[type="submit"] {
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 15px 55px;
	background: #0D8EDE;
	/*border-radius: 7px;*/
	color: white;
	font-size: 20px;
	border-left: 0px;
	border-right: 0px;
	border-top:  0px;
	margin-top: 20px;
}

/*footer*/
.footer {
	background-color: #0D8EDE;
	height: 80px;
}

.footer p {

	/*display: table-cell;*/
	padding-bottom: 0px;
	padding: 28px;
	text-align: center;
	color: white;
	
}
