/*Comienzo de Proyecto*/


html,
body{
	width: 100%;
	height: 100%;
}

@font-face{
	font-family:CaviarBold;
	src:url(../Fuente/CaviarBold.ttf)
}
h1, h3{
	font-family: 'Great Vibes', cursive;
}

h2{
	font-family:'CaviarBold';
}

@font-face{
	font-family:CaviarDreams;
	src:url(../Fuente/CaviarDreams.ttf);
}
ul, a, p{
	font-family:'CaviarDreams';
}

//Sección Navegación
.navbar {
	margin-bottom: 0px;
	border:none;
		&.navbar-default{
			background-color: transparent;
			border-color:transparent;
			border-radius: 0px;
			position: fixed;
			z-index: 100;
			width: 100%;
		}
}
	ul.nav.navbar-nav {
		float: none;
		margin: 0;
		text-align: right;
	}
.navbar-nav > li {
	float: none;
	display: inline-block;
}

.navbar-default .navbar-nav > li > a{
	color: white;
	font-size:20px;
}
.navbar-nav > li > a{
	margin: 0px 40px;
}

.container-fluid .navbar-brand, {
	color: white;
	margin-left:56px;
	position: relative;
}

.navbar {
	background-color: transparent;
	transition: 0.8s ease-in-out;
}

.navbar.scroll {
	background-color:#f7bd51;
	width:100%;
	z-index: 10;
}
/*fin de scroll menú*/
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}

.parentesis{
	li > a::before{
		display: inline-block;
		content:"{";
    color:transparent;
    transform:translate(30px);
    transition: 0.45s ease-in-out transform;
    font-weight: bold;	
	}
	li > a::after{
		display: inline-block;
		content:"}";
		color:transparent;
		transform:translate(-30px);
		transition: 0.45s ease-in-out transform;
		font-weight: bold;
		// opacity:1;
	}

}

.parentesis > li > a:hover::before, .parentesis  > li > a:hover::after{
	display: inline-block;
	color:red;
	transform:translate(0px);
}

/*banner*/
.home{
	background-image: url(../img/zarai2.jpg);
	min-height: 100%;
	background-size: cover;
 	background-attachment: fixed;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: table;
		.titulo {
			display: table-cell;
			vertical-align: middle;
		
			h1 {
				font-size: 110px;
				// font-family: 'Great Vibes', cursive;
				&:hover{
					color:#f7bd51;
					transition: 0.8s  ease-in-out;
				}
				&.dark-title{
					color:#d9452b;
				}
			}

			p {
				color:#858196;
				//padding-bottom: 100px;
				font-size: 28px;
				width: 100%;
				}
			.arrow{
				position: relative;
				-webkit-transform: rotate(-90deg);
				top: 180px;
				img{
					width: 3.5%;
				}
			}

			}

		}
	.overlay {
		transition: 0.8s ease-in-out;
		
		min-height: 100%;
	}
}






/*Sección Sobre Mi*/
.about-me{
	background-color:white;
	width:100%;
	//background-image:url(../img/glujpg)
	//background-image:url(../img/paris.png);
	//background-size:cover;				
	background-attachment:fixed;
	.sobremi {
		padding: 20px;
		.me {
			text-align: center;
			h2{
				color: #576d9c;
			}
		}
		.line {
			border-bottom: 1px solid #576d9c;
			width: 10%;
			margin: 0 auto;

		}
		.contenido {
			padding: 40px;
			.yo {
				text-align: center;
				width: 77%;
				margin: 0 auto;
				img {
					padding: 20px;
					border: 1px solid #858196;
					width: 100%;
					margin: 20px;
				}
			}
			.aboutme{
				display: table-cell;
				vertical-align: middle;
				p {
					text-align: center;
					color:#576d9c;
					font-size: 18px;
					padding-left: 0px;
				  margin-top: 26px;
				}
			}
		}
	}
}

/*Sección de Proyectos*/

.project h2, .blog h2, .contact h2, .skill h2{
	text-align: center;	
	font-weight:bold;
}
.project{
	background-color:#404259;
	.project-contenido {
		padding: 20px 20px 50px;
		.line2{
			border-bottom: 1px solid #576d9c;
			color:#0D8EDE;
			width: 10%;
			margin: 0 auto;
		}
		h2{
			color:white;
		}
		p {
			color:white;
			font-size: 18px;
			text-align: center;
			padding:20px 218px;
		}
	.coment {
			border:1px solid white;
		p{
			color:#858196;
		}
		img{
			width: 100%;
			padding:20px;
		}
			&.olas-peru{
				img{
					width: 100%;
					height: 230px;
					padding:20px;
				}
		}
		}
	}
}


.project1 {
	position: relative;
	border: 5px solid #0D8EDE;
	width: 93%;
}

h3 {
	//visibility: hidden;
	color: blue;
	top: 40%;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.overlay:hover h3  {
	visibility: visible;
}


.project1 img {
	width: 100%;
	height: 250px;

}

	//Sección Habilidades
	.skill{
		.habilidades{
			padding:20px 20px 50px;
			h2{
				color:#576d9c;
			}
			.line3{
				border-bottom: 1px solid #576d9c;
				color:#0D8EDE;
				width: 10%;
				margin: 0 auto;
				margin-bottom: 20px;
			}
			.programas{
				margin:0 auto;
				display: table;
					a {
						float:left;
						&:hover{
							background-color: #858196;
							transition: 2s ease-in-out;
							a p{
								color:white;
								text-decoration: none;
								&:hover{
									color: white;
								}
							}
						}
						p{
							color:#576d9c;
							font-weight: bold;
							text-align: center;
							text-decoration: none;
							&:hover{
								color:white;
							}
						}
						img{
							margin:40px;
							border: 2px solid white;
							padding: 20px;
							background-color: #f7bd51;
						}
					}
			}
		}
	}
/*contactos*/
.contact{
	background-color:#404259;
	.contactame{
		padding: 20px 20px 50px;
		h2{
			color:white;
		}
		p{
			color:white;
		}
		.line4{
			border-bottom: 1px solid #576d9c;
			color:#0D8EDE;
			width: 10%;
			margin: 0 auto;
		}
	}
	.contactame-name{
		h3{
			color:#f7bd51;
		}
	}
	.icon{
		text-align: center;
		a{
			
			img{
				width: 4%;
				padding:7px;
				&:hover{
					background-color: white;
					border:1px solid white;
				}
				
			}
		}
	}
	
}



//Sección footer
.footer {
	background-color: #f7bd51;
	height: 60px;
	p {
		padding-top: 22px;
		text-align: center;
		color: white;
	}
}


@media screen and (max-width: $screen-phone){
	.navegacion{
		background-image: url(none);
		background-color: aliceblue;
	}
	.about-me{
			.sobremi{
				.contenido{
					padding:0px;
				}
			
				.line{
					width:40%; 
				}
			}

	}
}